.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.body {
  display: flex;
  flex: 1;
  min-height: 0;
}

.mainWrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.main {
  flex: 1;
  background: var(--nj-core-color-grey-100, #f5f5f5);
}
